/*********************************************************/
/*                 Sticky footer styles                  */
/*********************************************************/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */

  margin: 0 auto -50px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#content {
  margin-top: 10px;
}

.breadcrumb {
  margin: 0 0 0;
}

.picka {
  border: 3px solid #cccccc;
  padding: .6em 1em;
  font-weight: 200;
  width: 100%;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 48px;
}
@media (max-width: 767px) {
  #wrap {
    margin: 0 auto;
  }
  #push {
    display: none;
  }
}
/* -------- END Sticky footer styles ------------------ *//*********************************************************/

/*------------------------------------------------------------------

Layout: Topbar

------------------------------------------------------------------- */
#topbar {
  position: relative;
  /*z-index: 101;*/
  padding: 8px;
  background: #000000;
  border-bottom: 1px solid #000000;
}
#topbar .badge {
  line-height: 11px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: .35em;
}
#topbar #menu-trigger {
  position: absolute;
  top: 22px;
  right: 0;
  display: none;
  color: #ffffff;
  font-size: 18px;
}
#topbar #menu-trigger:hover {
  text-decoration: none;
}
#topbar .container.open #top-nav {
  display: block;
}
#topbar #top-nav > ul > li > .dropdown-menu {
  top: 140%;
  right: auto;
  left: 0;
}
#topbar #top-nav > ul > li > .dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #AAA;
  position: absolute;
  top: -7px;
  right: auto;
  left: 9px;
}
#topbar #top-nav > ul > li > .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  right: auto;
  left: 10px;
}
#topbar #top-nav > ul.pull-right > li > .dropdown-menu {
  left: auto;
  right: 0;
}
#topbar #top-nav > ul.pull-right > li > .dropdown-menu::before {
  left: auto;
  right: 9px;
}
#topbar #top-nav > ul.pull-right > li > .dropdown-menu::after {
  left: auto;
  right: 10px;
}
#topbar #top-nav > ul.pull-right .dropdown-submenu .dropdown-menu {
  left: auto;
  right: 100%;
}
#topbar #top-nav > ul {
  padding: 0;
  margin: 0;
}
#topbar #top-nav > ul > li {
  float: left;
  padding: 0;
  margin: 0 0 0 1.5em;
  list-style: none;
  color: #ffffff;
  font-size: 11px;
}
#topbar #top-nav > ul > li:first-child {
  margin-left: 0;
}
#topbar #top-nav > ul > li > a {
  color: #ffffff;
}
#topbar #top-nav > ul > li > a > .caret {
  border-top-color: #ffffff;
}

/* BEGIN TOP bar */
#top > .navbar {
  margin: 0;
}
#top > .navbar > .navbar-inner {
  padding-left: 10px;
  padding-right: 10px;
}
#top > .navbar > .navbar-inner > .container-fluid {
  padding: 0;
}
#top .topnav {
  display: block;
  float: right;
  margin: 0;
}
/* END TOP bar */
/* BEGIN header.head bar */
.head {
  height: 40px;
  padding-bottom: 10px;
  *zoom: 1;
}
.head:before,
.head:after {
  display: table;
  content: "";
  line-height: 0;
}
.head:after {
  clear: both;
}
.head .main-bar {
  position: relative;
}
.head .main-bar .container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
.head .main-bar .sidebar-ctrl {
  padding-top: 10px;
}
/* Wrapper styles ------------------------------------*/
#wrap {
  *zoom: 1;
}
#wrap:before,
#wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
#wrap:after {
  clear: both;
}


/* --------------- HEADER.head STYLES -------------------- */
.head {
  background-color: #444444;
  background-image: url("../img/retina_wood_bg.png");
  background-repeat: repeat;
  border-bottom: 1px solid #d4d4d4;
}
.head .main-bar h3 {
  color: rgb(51, 51, 51);
  line-height: 29px;
  text-shadow: 0 1px 0 rgba(51, 47, 47, 0.6);
}
.head .main-bar h3 small {
    font-size: 16px;
}
/* --------------- FOOTER STYLES -------------------- */
#footer {
  margin: 0 auto;
  border-top: 1px solid #d4d4d4;
  color: rgb(51, 51, 51);
  background-color: #444;
  background-image: url("../img/retina_wood_bg.png");
  background-repeat: repeat;
}
#footer p {
  padding-top: 12px;
  text-align: center;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background-color: #0088cc;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

#top > .navbar {
    border-top: 3px solid #e8481d;
}

.navbar .brand {
    padding: 8px 20px 5px;
}

/*------------------------------------------------------------------

Layout: Dashboard

------------------------------------------------------------------- */
.stat-table td {
  padding: 18px 0;
  border: none;
  border-bottom: 1px solid #CCC;
}
.stat-table .value {
  font-size: 21px;
  font-weight: 600;
}
.stat-table .full {
  color: #666;
  font-size: 13px;
}

/*====================== block =================================*/
/*Blocks*/
.block {
  border: 1px solid #ccc;
  background: white;
  margin: 10px 0;
}
.dialog .block {
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
.block-heading {
  border-bottom: 1px solid #a6a6a6;
  border-left: none;
  color: #505050;
  display: block;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  font-weight: bold;
  font-size: .85em;
  line-height: 3em;
}
.block-heading .block-icon {
  border-right: 1px solid #AAA;
  border-left: none;
}
.block-heading .block-icon a {
  padding: 0em;
}
.block-heading .block-icon [class*="icon-"] {
  padding: 0em 1em;
  line-height: 1em;
}
.block-heading .block-icon.pull-right {
  border-left: 1px solid #AAA;
  border-right: none;
}
.block-heading .label {
  float: right;
  margin-top: .5em;
  margin-right: .75em;
  line-height: 1.5em;
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
p.block-heading,
a.block-heading,
.block-heading a {
  color: #505050;
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fafafa));
  background: -ms-linear-gradient(bottom, #dddddd, #fafafa);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #fafafa 100%);
  background: -o-linear-gradient(bottom, #dddddd, #fafafa);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#dddddd')";
  display: block;
  padding-left: 1em;
  border-top: 1px solid #fff;
  outline: none;
}
a.block-heading:hover,
.block-heading a:hover {
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fdfdfd));
  background: -ms-linear-gradient(bottom, #dddddd, #fdfdfd);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #fdfdfd 100%);
  background: -o-linear-gradient(bottom, #dddddd, #fdfdfd);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd',EndColorStr='#dddddd')";
  color: #505050;
}
.block-body {
  margin: 1em;
  min-height: .25em;
}
.block-body h1,
.block-body h2,
.block-body h3,
.block-body h4,
.block-body h5,
.block-body h6,
.block-body table {
  margin-top: 12px;
}
.block-body.collapse {
  margin-top: 0em;
  margin-bottom: 0em;
}
/*====================== end of block ==========================*/

.margin-10-top {
    margin-top: 10px;
}

/*====================== Modal =================================*/
.modal {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.modal.small {
  width: 400px;
  margin: -170px 0 0 -200px;
}
.modal .modal-icon {
  vertical-align: middle;
  font-size: 4em;
  float: left;
  margin-right: .25em;
}
.modal:focus {
  outline: none;
}
.modal .modal-header h3 {
  font-size: .95em;
}
.modal .modal-footer {
  padding: .5em;
}
.modal .modal-body {
  padding: 2em;
}
.modal p {
  margin: 0em;
  line-height: 1.5em;
}
/*====================== end of Modal ==========================*/
/*====================== Form =================================*/
.form-vertical legend {
  margin-bottom: 0px;
}
sup {
  color: red;
  font-size: 20px;
  top:0;
  padding-left: 5px;
}
input:focus:required:invalid,textarea:focus:required:invalid,select:focus:required:invalid {
  color:#555555;
  border-color:#cccccc;
}input:focus:required:invalid:focus,textarea:focus:required:invalid:focus,select:focus:required:invalid:focus {
  border-color:#555555;
  -webkit-box-shadow:0 0 6px #ccc;
  -moz-box-shadow:0 0 6px #ccc;
  box-shadow:0 0 6px #ccc;
}

/*====================== end of Form ==========================*/

/********** ----- Login form ----- **********/
.margin-top-20 {
  margin-top: 20px;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
h2.form-signin-heading {
    color: #e8481d;
}
.login-extra {
    display: block;
    max-width: 300px;
    margin: 0 auto 20px;
    text-align: center;
    line-height: 19px;
    text-shadow: 1px 1px 0px #fff;
}

.alert-login {
    display: block;
    max-width: 300px;
    margin: 0 auto 20px;
    text-align: center;
    line-height: 19px;
    text-shadow: 1px 1px 0px #fff;
    padding:8px 35px 8px 14px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.alert-error {
    background-color:#f2dede;
    color:#b94a48;
    border-color:#eed3d7;
}
.alert-success {
    background-color:#dff0d8;
    border-color:#d6e9c6;
    color:#468847;
}
.tab-content {
  overflow: visible;
}

.pie-container {
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  margin: 10px auto 20px auto;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.no_data {
  padding: 12px 10px 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #829DAC;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
  background: #F2F7FA;
  border: 1px solid #D9EBF1;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}

#program-video {
  margin-left:auto;
  margin-right:auto;
}

#spot-video {
  margin-left:auto;
  margin-right:auto;
}

table#report th {
  background-color: #cccccc;
}

table#report td.center {
  text-align:center;
  white-space: nowrap
}

.main-stats {
  background-color: #fdfdfd;
  border-bottom: 1px solid #efeef3;
}

.main-stats .stats-row {
  box-shadow: inset -1px 0px 5px 2px #f9f9f9;
}

.main-stats .stat {
  text-align: right;
  padding: 30px 0px 35px 0px;
  position: relative;
  box-shadow: 1px 0px 0px 0px white;
}

.main-stats .stat .data {
  color: #29323a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding-right: 50px;
}

.main-stats .stat .data .number {
  color: #32a0ee;
  font-size: 25px;
  margin-right: 15px;
}

.main-stats .stat .date {
  color: #b4b8bb;
  font-weight: lighter;
  font-family: 'Lato', 'Open Sans';
  font-style: italic;
  font-size: 13px;
  position: absolute;
  right: 50px;
}

.widget .widget-body, .dashboard-wrapper .main-container .widget-border .widget-body {
  padding: 10px;
}

.widget, .dashboard-wrapper .main-container .widget-border {
  background: white;
  border: 1px solid #e0e0e0;
  clear: both;
  margin-top: 0px;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.widget, .dashboard-wrapper .main-container .widget-border {
  background: white;
  border: 1px solid #e0e0e0;
  clear: both;
  margin-top: 0px;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.widget .widget-header, .dashboard-wrapper .main-container .widget-border .widget-header {
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  background-image: -moz-linear-gradient(top, white, #f2f2f2);
  background-image: -ms-linear-gradient(top, white, #f2f2f2);
  background-image: -o-linear-gradient(top, white, #f2f2f2);
  background-image: linear-gradient(top, white, #f2f2f2);
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #d9d9d9;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
}

.widget .widget-header .title, .dashboard-wrapper .main-container .widget-border .widget-header .title {
  color: #4d4d4d;
  float: left;
  font-weight: 600;
  font-size: 14px;
}

ul.stats-overview {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right:5px;
  text-align: center;
}

ul.stats-overview li:first-child {
  padding-left: 0;
}

ul.stats-overview li .name {
  font-size: 12px;
}

ul.stats-overview li .value {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

ul.stats-overview li {
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  font-size: 14px;
  border-right: 1px solid #e8e8e8;
}

ul.stats-overview li:last-child {
  border-right: 0;
}

table.networks td:first-child {
  width: 150px;
}

table.networks td.count {
  font-size: 18px;
  font-weight: bolder;
  line-height: 50px;
  text-align: center;
}

table.networks tr:first-child td {
  border-top: 0;
}

.network-img {
  max-width: 100px;
  max-height:50px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#flot-tooltip {
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  position: absolute;
  display: none;
  border: 2px solid;
  padding: 2px;
  background-color: #FFF;
  opacity: 0.8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

img.gridlogo {
    max-width: 85px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search_field {
  margin: 0 0 10px;
}
.handsontable .pass {
  background: #ffc0ab !important;
}