/**
 *
 * Apply Custom CSS
 *
*/

body {
	color: #000000;
}

a {
  color: #0088cc;
}

a:hover {
  text-decoration: underline;
}
.orange{
  color: #ffa812;
}
.sidebar-menu a:hover {
  text-decoration: none !important;
}

td.bold {
  font-weight: bold;
}

th.bold{
  font-weight: bold;
}

img.retailerlogo {
    max-width: 150px;
    max-height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

img.gridlogo {
  max-width: 85px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.network-img {
  max-width: 85px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-container.horizontal-menu header.navbar .navbar-brand {
  background-color: #f7f7f7 !important;
}
body .page-container.horizontal-menu header.navbar.navbar-fixed-top {
  background-color: #f7f7f7 !important;
}
.date-selection {
  margin-bottom: 10px;
}

#program-video {
  margin: auto;
}

#spot-video {
  margin: auto;
}

.vjs-default-skin .vjs-big-play-button {
  left: 6em !important;
  top: 4em !important;
}

.modal-body {
  background-color: #ffffff;
}

.login-page .login-header {
  padding: 20px 0 !important;
}

.login-page .login-form {
  padding-top: 0px !important;
}

.dataTables_wrapper table thead tr th {
  font-size: 14px;
}

.table-bordered>thead>tr>th {
  font-size: 14px;
}

.dashboard-panel-heading {
  padding-left:15px;
}

.spark-tooltip-class{
    padding-left:10px;
    padding-right:10px;
}

.dashboard-panel {
  padding:15px 0px 0px 0px;
}

table#report td.center {
  text-align:center;
  white-space: nowrap
}

.no_data {
  padding: 12px 10px 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #829DAC;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
  background: #F2F7FA;
  border: 1px solid #D9EBF1;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}

table.networks td:first-child {
  width: 150px;
}

table.networks td.count {
  font-size: 18px;
  font-weight: bolder;
  line-height: 50px;
  text-align: center;
}

table.networks tr:first-child td {
  border-top: 0;
}

.network-img {
    max-width: 100px;
    max-height:50px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#flot-tooltip {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    position: absolute;
    display: none;
    border: 2px solid;
    padding: 2px;
    background-color: #FFF;
    opacity: 0.8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

img.gridlogo {
    max-width: 85px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search_field {
    margin: 0 0 10px;
}

.network-fullscreen {
    position:fixed;
    top:60px;
    left:0;
    height: 100%;
    width: 100%;
    z-index:9999;
    background: #ffffff;
}

.click-download {
  margin-top: 10px;
}


/* Sticky Filters */

.filter-sticky {
  display: inline-block;
  padding-top: 10px;
  margin-left: 10px;
}

.filter-sticky-stuck {
  float: left;
}