<template>
  <section>
    <div class="media-spend p-4" ref="chartdiv"></div>
  </section>
</template>

<script>
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);
am4core.options.commercialLicense = true;

export default {
  name: 'SpendGraph',

  props: [
    'mediaSpend',
    'product'
  ],

  mounted() {
    let chart = am4core.create(this.$refs.chartdiv, am4charts.XYChart);
    // chart.paddingRight = 20;
    chart.colors.step = 2;
    chart.numberFormatter.numberFormat = "'$'#.#";

    chart.data = this.mediaSpend;

    let dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.grid.template.location = 0;

    let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.tooltip.disabled = true;
    valueAxis.renderer.minWidth = 35;
    // valueAxis.renderer.line.strokeOpacity = 1;
    // valueAxis.renderer.line.strokeWidth = 2;
    // valueAxis.renderer.line.stroke = series.stroke;
    // valueAxis.renderer.labels.template.fill = series.stroke;
    // valueAxis.renderer.opposite = opposite;
    // valueAxis.renderer.grid.template.disabled = true;

    let series = chart.series.push(new am4charts.LineSeries());
    series.dataFields.dateX = "date";
    series.dataFields.valueY = "media_spend";
    series.strokeWidth = 2;
    series.yAxis = valueAxis;
    series.name = this.product.name+" D2C Spend"
    series.tooltipText = "{valueY.media_spend}";

    let seriesCategory = chart.series.push(new am4charts.LineSeries());
    seriesCategory.dataFields.dateX = "date";
    seriesCategory.dataFields.valueY = "category_media_spend";
    seriesCategory.strokeWidth = 2;
    seriesCategory.yAxis = valueAxis;
    seriesCategory.name = "Average Category Spend"
    seriesCategory.tooltipText = "{valueY.category_media_spend}";

    chart.legend = new am4charts.Legend();
    chart.cursor = new am4charts.XYCursor();

    this.chart = chart;
  },

  beforeDestroy() {
    if (this.chart) {
      this.chart.dispose();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.media-spend {
  width: 100%;
  height: 275px;
}
</style>
