<template>
    <div class="predictor p-4" ref="chartdiv"></div>
</template>

<script>
    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4charts from "@amcharts/amcharts4/charts";
    import am4themes_animated from "@amcharts/amcharts4/themes/animated";
    import moment from 'moment';

    am4core.useTheme(am4themes_animated);
    am4core.options.commercialLicense = true;

    export default {
        name: 'Predictor',

        props: {
            product: null,
            days: 0
        },

        mounted() {

            // create chart
            let chart = am4core.create(this.$refs.chartdiv, am4charts.GaugeChart);
            chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect

            chart.innerRadius = -25;

            let axis = chart.xAxes.push(new am4charts.ValueAxis());
            axis.min = 0;
            axis.max = 120;
            axis.strictMinMax = true;
            axis.renderer.grid.template.stroke = new am4core.InterfaceColorSet().getFor("background");
            axis.renderer.grid.template.strokeOpacity = 0.3;
            axis.renderer.labels.template.disabled = true;

            var label30 = axis.axisRanges.create();
            label30.value = 30;
            label30.label.text = "30";
            label30.label.fontSize = 16;

            var label60 = axis.axisRanges.create();
            label60.value = 60;
            label60.label.text = "60";
            label60.label.fontSize = 16;

            var label90 = axis.axisRanges.create();
            label90.value = 90;
            label90.label.text = "90";
            label90.label.fontSize = 16;

            let colorSet = new am4core.ColorSet();

            let label = chart.radarContainer.createChild(am4core.Label);
            label.isMeasured = false;
            label.fontSize = 16;
            label.x = am4core.percent(50);
            label.y = am4core.percent(100);
            label.horizontalCenter = "middle";
            label.verticalCenter = "bottom";
            label.text = "New Campaign Not Likely";

            let range0 = axis.axisRanges.create();
            range0.value = 0;
            range0.endValue = 30;
            range0.axisFill.fillOpacity = 1;
            range0.axisFill.fill = colorSet.getIndex(0);
            range0.axisFill.zIndex = - 1;

            let range1 = axis.axisRanges.create();
            range1.value = 30;
            range1.endValue = 60;
            range1.axisFill.fillOpacity = 1;
            range1.axisFill.fill = colorSet.getIndex(2);
            range1.axisFill.zIndex = -1;

            let range2 = axis.axisRanges.create();
            range2.value = 60;
            range2.endValue = 90;
            range2.axisFill.fillOpacity = 1;
            range2.axisFill.fill = colorSet.getIndex(4);
            range2.axisFill.zIndex = -1;

            let range3 = axis.axisRanges.create();
            range3.value = 90;
            range3.endValue = 120;
            range3.axisFill.fillOpacity = 1;
            range3.axisFill.fill = colorSet.getIndex(6);
            range3.axisFill.zIndex = -1;

            if (this.days != 0) {
                label.text = "Days";

                let hand = chart.hands.push(new am4charts.ClockHand());
                hand.axis = axis;
                hand.innerRadius = am4core.percent(45);
                hand.startWidth = 8;
                hand.pin.disabled = true;
                hand.value = this.days;
            }
        },

        methods: {
            beforeDestroy() {
                if (this.chart) {
                    this.chart.dispose();
                }
            }
        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .predictor {
        width: 100%;
        height: 235px;
    }
</style>
